<section id="about" class="section">
    <div class="container about-content">

        <!-- LEFT SIDE -->
        <div class="text">
            <p class="sub">WHO AM I</p>

            <h2>ABOUT_ME</h2>

            <p class="desc">
                 I’m Souvik Pradhan, a .NET Full-Stack Developer currently working at Wipro. I specialize in building modern, scalable, and high-performance web applications with a strong focus on clean architecture and seamless user experience. Throughout my journey, I’ve developed multiple projects that reflect my ability to turn ideas into practical, efficient, and production-ready solutions.
            </p>

            <p class="desc">
                 Coming to my academic background, I completed my BCA from KIIT University, Bhubaneswar, graduating with an 8.5 CGPA. Currently, I’m pursuing my M.Tech from BITS Pilani under the Work Integrated Learning Program, continuously strengthening my technical foundation while gaining real-world industry experience.
            </p>

            <div class="stats">
                <div>
                    <h3>15+</h3>
                    <span>Projects</span>
                </div>

                <div>
                    <h3>4+</h3>
                    <span>Years Learning</span>
                </div>

                <div>
                    <h3>100%</h3>
                    <span>Dedication</span>
                </div>
            </div>

            <div class="resume">
                <a href="souvik_pradhan_resume.pdf" download class="btn-resume">
                    ⬇ Download Resume
                </a>
            </div>
        </div>

        <!-- RIGHT SIDE -->
        <div class="card glass">

            <h3>What I Do</h3>

            <ul>
                <li>⚡ Build responsive web apps</li>
                <li>⚡ Create clean UI/UX experiences</li>
                <li>⚡ Develop scalable backend logic</li>
                <li>⚡ Optimize performance & speed</li>
            </ul>

        </div>

    </div>
</section>